.footer {
     position: absolute;
     height: 75px;
     bottom: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: -1;
     background-color: #ffff;
     box-shadow: 0px -5px 18px -10px rgba(0, 0, 0, 0.15);

     .price {
          letter-spacing: 1.5px;
          margin-left: 20px;
          opacity: .75;
     }

     .button {
          border: none;
          background-color: #00754a;
          border-radius: 25px;
          letter-spacing: 1.5px;
          font-size: 14px;
          padding: 7px 16px;
          margin-right: 20px;
          color: #ffff;
          transition: all .2s ease;
          -webkit-box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.7);
          -moz-box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 18px -10px rgba(0, 0, 0, 0.7);

          &:disabled {
               cursor: no-drop;
          }

          &:active {
               transform: scale(.97);
          }

          &:hover {
               background-color: #017d50;
          }
     }
}