.stars {
     padding: 1px 4px 1px 4px;
     font-size: 15px;
     border-radius: 6px;
     border: 1px solid #cba258;
     color: #cba258;
     font-weight: 600;
     max-height: 21px;
     display: flex;
     align-items: center;
     width: fit-content;
}