@mixin input__default {
     cursor: pointer;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 3px solid #1f3933;
     background-color: white;
     background-repeat: no-repeat;
     background-position: 50%;
     transition: all .06s ease;
}

@mixin input__active {
     border: 3px solid #006241;
     background-color: #d4e9e2;
}

@mixin tag__p {
     color: #fff;
     margin: 0;
     font-size: 13px;
     font-weight: 600
}

label[for^="Short"] {
     >input {
          @include input__default;
          background-image: url(../../ui/svg/sizes/default/Short.svg);

          &:checked {
               @include input__active;
               background-image: url(../../ui/svg/sizes/active/Short.svg);
          }
     }

     >p {
          @include tag__p;
     }
}

label[for^="Tall"] {
     >input {
          @include input__default;
          background-image: url(../../ui/svg/sizes/default/Tall.svg);

          &:checked {
               @include input__active;
               background-image: url(../../ui/svg/sizes/active/Tall.svg);
          }
     }

     >p {
          @include tag__p;
     }
}

label[for^="Grande"] {
     >input {
          @include input__default;
          background-image: url(../../ui/svg/sizes/default/Grande.svg);

          &:checked {
               @include input__active;
               background-image: url(../../ui/svg/sizes/active/Grande.svg);
          }
     }

     >p {
          @include tag__p;
     }
}

label[for^="Venti"] {
     >input {
          @include input__default;
          background-image: url(../../ui/svg/sizes/default/Venti.svg);

          &:checked {
               @include input__active;
               background-image: url(../../ui/svg/sizes/active/Venti.svg);
          }
     }

     >p {
          @include tag__p;
     }
}